<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/style.css">
    <title>TOSEL 교재몰</title>
</head>
<body>
<div id="wrap">
    <div id="header">
        <header class="head-area">
            <div class="logo-area">
                <img src="../static/logo-img.png" alt="로고 이미지">
            </div>

            <ul class="nav-list">
                <li class="nav-item">마이 페이지</li>
                <li class="nav-item">공지사항</li>
                <li class="nav-item">FAQ</li>
                <li class="nav-item">장바구니</li>
                <li class="nav-item"></li>
            </ul>
        </header>
    </div>
    <div id="container">
        <section class="banner-section">
            <div class="banner-box">
                <div class="banner-area">
                    <img class="banner-item" src="../static/main-banner.png" alt="메인배너">
                </div>
            </div>
        </section>

        <section class="search-section">
            <div class="search-box">
                <div class="search-area">
                    <div class="ad-box">
                        <img class="ad-item" src="../static/ad-img.png" alt="이미지">
                    </div>

                    <div class="search-ele">
                        <img class="search-item" src="../static/img-search.png" alt="검색">
                    </div>
                </div>
            </div>
        </section>

        <section class="category-section">
            <div class="category-box">
                <div class="des-area">
                    <img src="../static/img-category.png" alt="카테고리">
                </div>

                <div class="category-area">
                    <div class="category-item">
                        <div class="category-img">
                            <img src="../static/catagory-book.png" alt="카테고리북">     
                        </div>

                            <p class="category-text">전체 교재</p>
                    </div>

                    <div class="category-item">
                        <div class="category-img">
                            <img src="../static/category-event.png" alt="카테고리이벤트">
                            
                        </div>

                        <p class="category-text">이벤트</p>
                    </div>

                    <div class="category-item">
                        <div class="category-img">
                            <img src="../static/category-bestseller.png" alt="카테고리베스트셀러">
                            
                        </div>

                        <p class="category-text">베스트셀러</p>
                    </div>

                    <div class="category-item">
                        <div class="category-img">
                            <img src="../static/category-new.png" alt="카테고리신상품">
                            
                        </div>

                        <p class="category-text">신상품</p>
                    </div>

                    <div class="category-item">
                        <div class="category-img">
                            <img src="../static/category-goods.png" alt="카테고리굿즈">
                            
                        </div>

                        <p class="category-text">굿즈</p>
                    </div>

                    <div class="category-item">
                        <div class="category-img">
                            <img src="../static/category-down.png" alt="카테고리자료실">
                            
                        </div>

                        <p class="category-text">학습 자료실</p>
                    </div>
                </div>
            </div>
        </section>

        
        <section class="book-section">
            <div class="book-box">

                <div class="book-charact">
                    <div class="book-des">
                        <p class="book-text">베스트 셀러</p>
                        <p class="book-more">더보기</p>
                    </div>
                



                    <div class="book-area">
                        <div class="book-info">
                            <div class="book-item">
                                <div class="book-img">
                                    <img src="../static/img-book1.png" alt="책">
                                </div>

                                <p class="book-title">Pre-starter</p>
                                <p class="book-subject">LISTENING 1</p>
                            </div>
                        </div>

                        <div class="book-info">
                            <div class="book-item">
                                <div class="book-img">
                                    <img src="../static/img-book1.png" alt="책">
                                </div>

                                <p class="book-title">Pre-starter</p>
                                <p class="book-subject">LISTENING 1</p>
                            </div>
                        </div>

                        <div class="book-info">
                            <div class="book-item">
                                <div class="book-img">
                                    <img src="../static/img-book1.png" alt="책">
                                </div>

                                <p class="book-title">Pre-starter</p>
                                <p class="book-subject">LISTENING 1</p>
                            </div>
                        </div>

                        <div class="book-info">
                            <div class="book-item">
                                <div class="book-img">
                                    <img src="../static/img-book1.png" alt="책">
                                </div>

                                <p class="book-title">Pre-starter</p>
                                <p class="book-subject">LISTENING 1</p>
                            </div>
                        </div>

                        <div class="book-info">
                            <div class="book-item">
                                <div class="book-img">
                                    <img src="../static/img-book1.png" alt="책">
                                </div>

                                <p class="book-title">Pre-starter</p>
                                <p class="book-subject">LISTENING 1</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>

        <section class="book-section">
            <div class="book-box">

                <div class="book-charact">
                    <div class="book-des">
                        <p class="book-text">베스트 셀러</p>
                        <p class="book-more">더보기</p>
                    </div>
                



                    <div class="book-area">
                        <div class="book-info">
                            <div class="book-item">
                                <div class="book-img">
                                    <img src="../static/img-book1.png" alt="책">
                                </div>

                                <p class="book-title">Pre-starter</p>
                                <p class="book-subject">LISTENING 1</p>
                            </div>
                        </div>

                        <div class="book-info">
                            <div class="book-item">
                                <div class="book-img">
                                    <img src="../static/img-book1.png" alt="책">
                                </div>

                                <p class="book-title">Pre-starter</p>
                                <p class="book-subject">LISTENING 1</p>
                            </div>
                        </div>

                        <div class="book-info">
                            <div class="book-item">
                                <div class="book-img">
                                    <img src="../static/img-book1.png" alt="책">
                                </div>

                                <p class="book-title">Pre-starter</p>
                                <p class="book-subject">LISTENING 1</p>
                            </div>
                        </div>

                        <div class="book-info">
                            <div class="book-item">
                                <div class="book-img">
                                    <img src="../static/img-book1.png" alt="책">
                                </div>

                                <p class="book-title">Pre-starter</p>
                                <p class="book-subject">LISTENING 1</p>
                            </div>
                        </div>

                        <div class="book-info">
                            <div class="book-item">
                                <div class="book-img">
                                    <img src="../static/img-book1.png" alt="책">
                                </div>

                                <p class="book-title">Pre-starter</p>
                                <p class="book-subject">LISTENING 1</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>

        <section class="book-section">
            <div class="book-box">

                <div class="book-charact">
                    <div class="book-des">
                        <p class="book-text">베스트 셀러</p>
                        <p class="book-more">더보기</p>
                    </div>
                



                    <div class="book-area">
                        <div class="book-info">
                            <div class="book-item">
                                <div class="book-img">
                                    <img src="../static/img-book1.png" alt="책">
                                </div>

                                <p class="book-title">Pre-starter</p>
                                <p class="book-subject">LISTENING 1</p>
                            </div>
                        </div>

                        <div class="book-info">
                            <div class="book-item">
                                <div class="book-img">
                                    <img src="../static/img-book1.png" alt="책">
                                </div>

                                <p class="book-title">Pre-starter</p>
                                <p class="book-subject">LISTENING 1</p>
                            </div>
                        </div>

                        <div class="book-info">
                            <div class="book-item">
                                <div class="book-img">
                                    <img src="../static/img-book1.png" alt="책">
                                </div>

                                <p class="book-title">Pre-starter</p>
                                <p class="book-subject">LISTENING 1</p>
                            </div>
                        </div>

                        <div class="book-info">
                            <div class="book-item">
                                <div class="book-img">
                                    <img src="../static/img-book1.png" alt="책">
                                </div>

                                <p class="book-title">Pre-starter</p>
                                <p class="book-subject">LISTENING 1</p>
                            </div>
                        </div>

                        <div class="book-info">
                            <div class="book-item">
                                <div class="book-img">
                                    <img src="../static/img-book1.png" alt="책">
                                </div>

                                <p class="book-title">Pre-starter</p>
                                <p class="book-subject">LISTENING 1</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>


        <section class="fixed-section">

            <div class="left-position">
                <div class="side-left">
                    <img src="../static/side-bar.png" alt="">
                </div>
            </div>

            <div class="right-position">
                <div class="side-right">
                    <img src="../static/side-recentBook.png" alt="">
                </div>
            </div>
        </section>

    </div>


    <div id="footer">
        <footer class="footer-box">
            <div class="footer-logo">
                <img src="../static/img-logoFooter.png" alt="마지막로고">
            </div>

            <div class="tosel-info">
                <address class="tosel-add">
                    <p class="tosel-addtext">서울시 성북구 안암로 145 고려대학교 라이시움 4층</p>
                    <p class="tosel-addtextEnglish">Lyceum. Korea University, 145 Anam Ro, Seongbuk-Gu, Seoul, Korea 02841</p>
                    <p class="tosel-copyright">Copyright ⓒ TOSEL. All Rights Reserved.</p>
                </address>

                <div class="tosel-about">
                    <p class="tosel-name">상호명 : (주)에듀토셀</p>
                    <p class="tosel-number">사업자 등록번호 : 209-81-55585</p>
                    <p class="tosel-owner">대표자명 : 오승연</p>
                    <p class="tosel-phone">Tel: +82-02-923-0505 / Fax : +82-02-923-7070</p>
                </div>

            </div>
        </footer>
    </div>
</div>
    
</body>
</html>