<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 모바일이나 테블릿에서도 설정한 값에 딱맞춰서 볼 수 있도록 만든 것 -->
    <title>반응형 웹</title>
    <link rel="stylesheet" href="./reset.css">
    <link rel="stylesheet" href="./responsive.css">
</head>
<body>
    <div class="wrap">
        <header>
            <a href="#" class="logo"><h1>Logo</h1></a>
            <a href="#" class="gnb_menu"><h1>gnb_menu</h1></a>
            <nav>
                <a href="#">MENU1</a>
                <a href="#">MENU2</a>
                <a href="#">MENU3</a>
                <a href="#">MENU4</a>
                <a href="#">MENU5</a>
                <a href="#">MENU6</a>
                <a href="#">MENU7</a>
                <a href="#">MENU8</a>
            </nav>
        </header>
        <section>
            <ul class="list">
                <li>
                    <a href="#" class="inner">
                        <div class="thumb">
                            <img src="thumb.png" alt="썸네일이미지">
                        </div>
                        <div class="title">
                            타이틀입니다. 타이틀입니다. 타이틀입니다. 타이틀입니다. 타이틀입니다. 타이틀입니다. 타이틀입니다. 타이틀입니다. 타이틀입니다. 타이틀입니다. 타이틀입니다.
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#" class="inner">
                        <div class="thumb">
                            <img src="thumb.png" alt="썸네일이미지">
                        </div>
                        <div class="title">
                            타이틀입니다.
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#" class="inner">
                        <div class="thumb">
                            <img src="thumb.png" alt="썸네일이미지">
                        </div>
                        <div class="title">
                            타이틀입니다.
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#" class="inner">
                        <div class="thumb">
                            <img src="thumb.png" alt="썸네일이미지">
                        </div>
                        <div class="title">
                            타이틀입니다.
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#" class="inner">
                        <div class="thumb">
                            <img src="thumb.png" alt="썸네일이미지">
                        </div>
                        <div class="title">
                            타이틀입니다.
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#" class="inner">
                        <div class="thumb">
                            <img src="thumb.png" alt="썸네일이미지">
                        </div>
                        <div class="title">
                            타이틀입니다.
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#" class="inner">
                        <div class="thumb">
                            <img src="thumb.png" alt="썸네일이미지">
                        </div>
                        <div class="title">
                            타이틀입니다.
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#" class="inner">
                        <div class="thumb">
                            <img src="thumb.png" alt="썸네일이미지">
                        </div>
                        <div class="title">
                            타이틀입니다.
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#" class="inner">
                        <div class="thumb">
                            <img src="thumb.png" alt="썸네일이미지">
                        </div>
                        <div class="title">
                            타이틀입니다.
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#" class="inner">
                        <div class="thumb">
                            <img src="thumb.png" alt="썸네일이미지">
                        </div>
                        <div class="title">
                            타이틀입니다.
                        </div>
                    </a>
                </li>
            </ul>
        
        </section>

        <footer>
            Copyright @ naver corp
        </footer>
    </div>
</body>
</html>
